<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confession Added Successfully</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <style>
    body {
      background-color: #343a40;
      color: #fff;
    }
    .container {
      margin-top: 50px;
    }
    .success-message {
      background-color: #28a745;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
    }
    .btn-primary {
      background-color: #007bff !important;
      border-color: #007bff !important;
    }
    .btn-primary:hover {
      background-color: #0056b3 !important;
      border-color: #0056b3 !important;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="success-message">
    <h2>Confession Added Successfully!</h2>
    <p>Your confession has been successfully added and will wait for admin to approve it! </p>
    <a href="/" class="btn btn-primary">Go Back</a>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>